<title> Success </title>

<div class="status-container">
    <div class="status">

<p class="status-msg">Woohoo, you have booked an appointment at Yamaha, Sydney</p> 
<a class="button" href="./index.handlebars">Return to Homepage</a>  </div>
</div>